#mainDiv{
    max-width: 960px;
    align-self: center;
     margin-left: auto;
     margin-right: auto;
}

#nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;

}

.nav-button{
    display: inline;
    height: 50px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    
}

#project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 50px;
}

#project1{
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: aquamarine;
    
}

.pro-text{
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    
}

.pro-image{
    height: 100%;


}
#project2{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: red;
    
}
#project3{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: brown;
    
}


