

#mainDiv{
    max-width: 960px;
    align-self: center;
     margin-left: auto;
     margin-right: auto;
}

#nav-bar{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;

}

.nav-button{
    display: inline;
    cursor: pointer;
    text-align: center;
    max-width: 15%;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;

}

.button-img{
    max-width: 30%;

}

#project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 90px;
}

.project-class{
    border: 1px;
    border-radius: 3px;
    border-style: outset;
    margin-top: 30px;
    background-color: #e5f4fa;
    box-shadow: 10px 3px #5460634f;
    padding: 1%;
}

.pro-image{
    max-width: 20%;
    height: auto;
    transition: box-shadow 1s;
    cursor: pointer;
    }

.pro-image:hover{
    box-shadow: 10px 10px 10px #5460634f;
}

.pro-text{
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;

}
#project1{
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    
}

#project2{
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1/4;
    grid-row: 2/3;
    

}
#project3{
    display: flex;
    grid-column: 1/4;
    grid-row: 3/4;
    

}



@media (max-width:480px) {
    #nav-bar{

        flex-direction: row;
        height: 13%;
        

    }
    .nav-button{

        max-width: 33%;

    }
    
    #project1{
        display: flex;
        grid-column: 1/4;
        grid-row: 1/2;
        flex-direction: column;
    }

    #project2{
        display: flex;
        grid-column: 1/4;
        grid-row: 2/3;
        flex-direction: column;
    }

    #project3{
        display: flex;
        grid-column: 1/4;
        grid-row: 3/4;
        flex-direction: column;
    }

    .pro-image{
        max-width: 65%;
        align-self: center;
        }
}

/* **************** ABOUT ***************** */

/* #cv-container{
    
} */
