
body{
    background-color: rgba(211, 211, 211, 0.479);
}

#mainDiv{
    max-width: 960px;
    align-self: center;
     margin-left: auto;
     margin-right: auto;
     background-color: white;
     
}

#nav-bar{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;

}

.nav-button{
    display: inline;
    cursor: pointer;
    text-align: center;
    max-width: 15%;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;

}

.button-img{
    max-width: 30%;

}

#project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 80px;
}

.project-class{
    border: 1px;
    border-radius: 3px;
    border-style: outset;
    margin-top: 30px;
    background-color: #e5f4fa;
    box-shadow: 10px 3px #5460634f;
    padding: 1%;
}

.pro-image{
    max-width: 20%;
    height: auto;
    transition: box-shadow 1s;
    cursor: pointer;
    }

.pro-image:hover{
    box-shadow: 10px 10px 10px #5460634f;
}

.pro-text{
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;

}
#project1{
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    
}

#project2{
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1/4;
    grid-row: 2/3;
    

}
#project3{
    display: flex;
    grid-column: 1/4;
    grid-row: 3/4;
    

}



@media (max-width:480px) {
    #nav-bar{

        flex-direction: row;
        height: 11%;
        justify-content: flex-end;
        
        

    }
    .nav-button{

        max-width: 33%;

    }
    
    #project1{
        display: flex;
        grid-column: 1/4;
        grid-row: 1/2;
        flex-direction: column;
    }

    #project2{
        display: flex;
        grid-column: 1/4;
        grid-row: 2/3;
        flex-direction: column;
    }

    #project3{
        display: flex;
        grid-column: 1/4;
        grid-row: 3/4;
        flex-direction: column;
    }

    .pro-image{
        max-width: 65%;
        align-self: center;
        }
}

/* **************** ABOUT ***************** */

#cv-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
    

    
}



.profiles-class{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 40%;
    padding: 1%;
    margin: 1%;


}

.personal-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 5px;
    background-color: rgba(220, 220, 220, 0.521);
    
}
p{
    color: white;
    background-color: black;
    margin: 0;
}

.personal-experience{
    display: flex;
    align-content: center;
    flex-direction: column;
    border: 1px;
    border-top-style: solid;
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 5px;
    background-color:rgba(220, 220, 220, 0.521);
}

.personal-skills{
    border: 1px;
    border-top-style: solid;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 5px;
    background-color:rgba(220, 220, 220, 0.521);
}

.profile-img-box{
    border: 2px;
    grid-column: 1/2;
    grid-row: 1/2;
}


@media (max-width:480px){

#cv-container{
    flex-direction: column;
    
}
.profiles-class{
    max-width: 100%;
}
}

/* ******************CONTACT********************** */


#contact-container{
    margin-top: 80px;
    /* display: flex;
    
    justify-content: space-around; */
    background-color: rgba(220, 220, 220, 0.521);
}
#contact-form{
    height: 100%;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    /*flex-direction: column; */
    /* align-self: center; */
    width: 50%;
    border: 2px grey;
    /* border-style: solid; */
    border-radius: 3px;
    box-shadow: 4px 4px 5px grey;
    padding: 3%;
}

#contact-form label{
    justify-content: center;
    width: 100%;
    /* margin-left: 20% ; */
}
.input-form{
  
    justify-self: right;
}

@media (max-width:480px){
    #nav-bar{
     height: 10%;   
    }
    #contact-container{
    margin-top: 90px;
    }
    #contact-form{
        width: 60%;
    }
}

/* ***********************CALCULATOR*********************** */
#calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    background-color: bisque;



}
#calculator input{
    text-align: end;
    grid-column: 1/6;
    grid-row: 1/2;
}
#calc-button-7{
    grid-column: 1/2;
    grid-row: 2/3;
}
#calc-button-8{
    grid-column: 2/3;
    grid-row: 2/3;
}
#calc-button-9{
    grid-column: 3/4;
    grid-row: 2/3;
}
#calc-button-4{
    grid-column: 1/2;
    grid-row: 3/4;
}
#calc-button-5{
    grid-column: 2/3;
    grid-row: 3/4;
}
#calc-button-6{
    grid-column: 3/4;
    grid-row: 3/4;
}
#calc-button-1{
    grid-column: 1/2;
    grid-row: 4/5;
}
#calc-button-2{
    grid-column: 2/3;
    grid-row: 4/5;
}
#calc-button-3{
    grid-column: 3/4;
    grid-row: 4/5;
}
#calc-button-0{
    grid-column: 2/3;
    grid-row: 5/6;
}
#calc-button--{
    grid-column: 4/5;
    grid-row: 4/5;
}
#calc-button-plus{
    grid-column: 4/5;
    grid-row: 3/4;
}
#calc-button-divide{
    grid-column: 5/6;
    grid-row: 3/4;
}
#calc-button-x{
    grid-column: 5/6;
    grid-row: 4/5;
}
#calc-button-equal{
    grid-column: 5/6;
    grid-row: 5/6;
}
#calc-button-CE{
    grid-column: 4/5;
    grid-row: 2/3;
}


